input.search {
    background-image: url('/assets/search-icon.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    border-radius: 7px;
}

label {
    color: #d2e2ff;
}
